* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background-color: var(--cor-fundo-pagina);
  color: var(--cor-font);
}

.carregando-produtos {
  display: flex;
  font-size: 60px;
}